/*========================
RESPONSIVE STYLES
=======================*/

@media only screen and (max-width:1300px){
    .mordor_container{
        width: 80%;
    }

    .nav_wrapper img{
        max-width: 90%;
    }

    .nav_wrapper .navbar_right{
        flex: 0 0 75%;
    max-width: 75%;
    }

}

@media only screen and (max-width:1110px){
    .mordor_container{
        width: 90%;
    }

    .nav_wrapper{
        flex-wrap: wrap;
    }

    .nav_wrapper .navbar_right{
        flex: 0 0 99%;
    max-width: 99%;
    }

    .additives_section .additives_right_content{
        flex-wrap: wrap;
}
  
}

@media only screen and (max-width:991px){
    .mordor_container{
        width: 90%;
    }

    .nav_wrapper .navbar_right{
        flex: 0 0 99%;
        max-width: 99%;
    }

    .tabs_section{
        padding: 0.4rem 0;
    }


    .tabs{
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter_section *{
        font-size: 0.8rem;
    }

    .filter_section{
        padding: 0.4rem 0;
    }

    .filter{
        flex-wrap: wrap;
        height: 80px;
    }

    .filter_left{
        justify-content: center;
        align-items: center;
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
        
    .filter_right{
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .select-selected:after{
            top: 12px;
        }

        .additives_section .additives_menu_left{
            top: 25%;
        }

}

@media only screen and (max-width:767px){
    
    .mordor_container{
        width: 95%;
    }

    .nav_wrapper a{
        margin: 0.2rem auto;
    }

    .nav_wrapper .navbar_right *{
        font-size: 0.8rem;
    }

    .nav_wrapper .select .custom-select .select-selected{
    font-size: 0.8rem;
}

.nav_wrapper .select .custom-select .select-selected::after{
    top: 11px;
}

.search_wrapper .search_wrapper_right{
    flex: 0 0 65%;
    max-width: 65%;
}

    .search_wrapper{
        height: 40px;
    }

    .search_wrapper h2{
        font-size: 0.9rem;
    }

    .tabs_section{
        padding: 0.2rem 0;
    }

    .tabs_section .tabs{
        flex-wrap: wrap;
        height: 55px;
    }

    .filter{
        height: 105px;
    }
    .filter_section{
        padding: 0;
    }

    .filter_right{
        /* flex-wrap: nowrap; */
        flex-wrap: wrap;
    }

    .filter_left{
        max-width: 40%;
    }

    .additives_section .additives_menu_right{
        padding-left: 10px;
    }

    .additives_section .additives_menu_left{
        padding-right: 10px;
    }

    .additives_section .additives_right_content{
        flex-direction: column;
    }

  

    .additives_section .additives_right_content .content-1{
        flex: 1;
        max-width: 100%;
    }

    .additives_section .additives_right_content .content-2{
        flex: 1;
        max-width: 100%;
    }

    .fa-filter:before {
        display: none;
    }

    .filter_right{
        justify-content: center;
    }

}

@media only screen and (max-width:600px){

.nav_wrapper{
    height: 173px;
}
.nav_wrapper .navbar_right{
    display: flex;
    flex-direction: column;
}

.nav_wrapper .navbar_right li{
    margin: 0.4rem 0;
}

.nav_wrapper .navbar_right .hamburger{
    display: none;
}


.additives_section .additives_menu_left {
    padding-left: 10px;
    padding-right: 0;
}

.additives_section .additives_menu_right{
    padding-left: 10px;
}

.button{
    margin-top: 0;
    padding:0.5rem 0.5rem 0.5rem 0;
}

.select-items div,.select-selected {
    padding: 4px;
}

input[type='radio']{
    width: 12px;
    height: 12px;
}

.radio-button{
    margin-left: 20px;
}

.radio-button__control{
    margin-left: 5px;
}

.radio-button__label{
    margin-right: 20px;
}

}

@media only screen and (max-width:550px){

    .mordor_container{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .additives_section .additives_menu_left {
        padding-left: 0px;
    }
    .radio-button{
        margin-left: 0px;
    }

    nav{
        display: none;
    }

    #search{
        display: none;
    }

    .input-field{
        width: 0%;
    }

    .search_wrapper .search_wrapper_right {
        display: flex;
        flex: 0 0 20%; 
        max-width: 20%;
        justify-content: space-between;
        align-items: center;
    }

    .input-field .btn-search{
        width: 0px;
    }


    .tabs_section .tabs {
        flex-wrap: nowrap;
        overflow-x:hidden;
        justify-content: flex-start;
        max-width: 100%;
        white-space: nowrap;
        height: 50px;
        position: relative;
        z-index: 9999;
    }


    .tabs_section .tabs::-webkit-scrollbar { width: 0 !important } /* Chrome, Safari, Opera*/
    .tabs_section .tabs { overflow: -moz-scrollbars-none; } /* Firefox */
    .tabs_section .tabs { -ms-overflow-style: none; } /* Internet Explorer */

    .hamburger{
        max-height: 50px;
    }

    .hamburger>div{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
  }

    .mobile_section{
        display: unset;
    }

    .mobile_section .mordor_container{
        background: white;
    }

    .mobile_section .mobile_menu{
        display: flex;
        justify-content: space-between;
    }

    .additives_section .additives_menu_left{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .additives_menu_right{
        position: absolute;
    }


    #nav1 {
        height: 100vh;
        /* display: block; */
        background: white;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
        -webkit-transform: translateX(-200px);
                transform: translateX(-200px);
                
        opacity: 0;
        transition: all 0s ease-in-out;
      }

      #nav1.visible {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
        /* display: block; */
        width: 300px;
        min-height: 100vh;
        padding: 20px;
    }

    #nav2 {
        /* height: 100vh; */
        /* display: block; */
        padding: 10px;
        background:white;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
        position: absolute;
        z-index: 1;
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
        opacity: 0;
        transition: all 0s ease-in-out;
    }

      #nav2.visible {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
        /* display: block; */
        width: 300px;
        min-height: 100vh;
      }
      

      .additives_section .additives{
          flex-direction: column;
      }

      .mobile_filter{
          display: flex;
          overflow: hidden;
          position: absolute;
          right: 0;
      }
      
      .fa-times{
          position: absolute;
          top: 10px;
          right: 30px;
      }

      .buttons_flex{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 30vh;
      }

      .custom-select{
          width: 80%;
      }

      .additives_section .additives_menu_right{
          border-left: none;
      }

      .mobile_menu{
          padding: 10px 0;
          position: relative;
          z-index: 11;
      }

      .filter_left{
          display: flex;
          flex-direction: column;
          max-width: 80%;
      }


      .filter_right{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
      }

      .filter_right>div{
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .select-items div,.select-selected{
          border-left: none;
          border-top: none;
          border-right: none;
      }

      .select-selected:after {
        border-color: #5cc4c7 transparent transparent ;
      }

      #nav2 h3{
        display: unset;
        position: absolute;
        left: 50;
        top: 0;
        font-size: 1.8rem;
        color: #5cc4c7;
    }

    .filter_section *{
        font-size: 1rem;
    }

    .additives_section .additives_menu_right{
        padding-left: 0px;
        padding-right: 10px;
    }

    .fa-times{
        display: unset;
        position: absolute;
        top: 0;
        right: 10px;
        color: #5cc4c7;
    }

    .filter_left .fa-times{
        display: unset;
    }

    #nav1 .fa-times{
        display: unset;
    }

    .additives_section .additives_menu_left h3{
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
    }

    .tabs_section .fa-caret-right{
        display: unset;
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 1.5rem;
        color: #5cc4c7;
    }

    .tabs_section .fa-caret-left{
        display: unset;
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 1.5rem;
        color: #5cc4c7;
    }

    }

